body {
	display: flex;
	background-color:
}

iframe {
	height: 100%;
	width: 100%;
}

.right {
	flex: 0 0 40%;
}

span {
	cursor: pointer;
	border-radius: 4px;
	transition: all .2s ease-in;
}

[data-translation]:before {
    position : absolute;
	transition: all .2s ease-in;
    opacity : 0;
}

[data-translation]:hover:after{
	background-color: lightgray;
	bottom-style: solid;
    content : attr(data-translation);
	border-radius: 4px;
	opacity : 1;
}

.learning {
	background-color: yellow;
}

.unknown {
	background-color: lightskyblue;
}

.unknown:hover {
	background-color: lightblue;
}
